@import '~style/helpers';

.siteListItem,
.newSiteForm {
    display: flex;
    height: 3rem;
    padding: 0 1rem;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    text-decoration: none;

    border: 1px solid $gray5;
    &:not(:last-child) {
        border-bottom-width: 0px;
    }
    &:not(:first-child) {
        margin-top: -1px;
    }

    &:hover + .siteListItem,
    &:hover + .newSiteForm {
        border-top-color: $gray4;
    }

}
.siteListItem:hover {
    border-color: $gray4;
}

.blueText {
    color: $blue;
    font-weight: 400;
}

.newSiteForm button {
    color: $white;
    padding-left: 1rem;
    padding-right: 1rem;
    cursor: pointer;
    background: $blue;
    border-color: $blue;

    &:hover {
        border-color: $gray0;
    }
}

.newSiteForm input {
    flex-grow: 1;
}
