@import '~style/helpers';

.app {
	height: 100%;
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	@include large {
		flex-direction: row;
	}
}

.wrapper {
	flex: 1;
	padding: 1rem;
	display: flex;
	justify-content: center;
}

.wrapper main {
	max-width: 48rem;
	width: 100%;
}

::-webkit-scrollbar {
	width: 6px;
	height: 6px;
}
::-webkit-scrollbar-thumb {
	background: $gray5;
	border-radius: 2px;
}
::-webkit-scrollbar-thumb:hover {
	background: $gray4;
}
