@import '~style/helpers';

.login {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.login form {
    width: 16rem;
    display: flex;
    flex-direction: column;
    border: 1px solid $gray5;
    padding: 0.5rem;
}

.login h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.fields {
    display: flex;
    flex-direction: column;
}

.fields input {
    margin-bottom: 0.5rem;
}

.login a {
    color: inherit;
    padding-top: 1rem;
    font-size: 0.8rem;
}
