$small: 320px;
$medium: 768px;
$large: 1064px;

@mixin large {
    @media (min-width: $large) {
        @content
    }
}

// Thanks https://trevordmiller.com/projects/nova
$pink: #D18EC2;
$red: #DF8C8C;
$orange: #F2C38F;
$yellow: #DADA93;
$green: #A8CE93;
$cyan: #7FC1CA;
$blue: #83AFE5;
$purple: #9A93E1;
$gray0: #1E272C;
$gray1: #3C4C55;
$gray2: #556873;
$gray3: #6A7D89;
$gray4: #899BA6;
$gray5: #C5D4DD;
$gray6: #E6EEF3;
$white: #FFFFFF;
