@import '~style/helpers';

@import url('https://fonts.googleapis.com/css?family=Titillium+Web');

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Titllium Web', sans-serif;
    font-weight: 400;
    color: $gray2;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
}

* {
    box-sizing: border-box;
}

h1,
h2,
h3
{
    margin: 0;
    font-weight: 300;
}

h1 {
    font-size: 1.2rem;
}

h2 {
    font-size: 1.1rem;
}

h3 {
    font-size: 1rem;
}

input,
button {
    border: 1px solid $gray5;
    font: inherit;
    padding: 0.2rem;
    background: transparent;
}

input:hover,
input:focus,
button:hover,
button:focus {
    border: 1px solid $gray4;
    outline: none;
}

input::placeholder {
    font-weight: 300;
    color: $gray5;
}

button {
    color: $gray3;
    font-weight: 300;
}
button:hover,
button:focus {
    color: $gray2;
}

video {
    max-width: 100%;
}

pre {
    margin: 0;
}
