@import '~style/helpers';

.sidebar {
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $gray6;
    width: 100%;
    flex-shrink: 0;

    @include large {
        padding: 1rem;
        width: 16rem;
        border-right: 1px solid $gray6;
        border-bottom: none;
    }
}

.header {
    display: flex;
    justify-content: space-between;
}

.header h1 {
    letter-spacing: 0.5rem;
    text-align: center;
    text-transform: uppercase;
    margin-left: 1.5rem;

    @include large {
        margin-left: 0;
        border-bottom: 1px solid $gray2;
    }
}

.header a {
    text-decoration: none;
    color: initial;
    flex-grow: 1;
}


.header button {
    border: transparent;
    width: 1.5rem;
    @include large {
        display: none;
    }
}

.drawer {
    display: none;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    @include large {
        display: flex;
    }
}

.drawerOpen {
    display: flex;
}

.logout {
    cursor: pointer;
    text-decoration: underline;
}
