@import '~style/helpers';

.site h2 {
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 1rem;
}

.site h3 {
    text-align: center;
    text-decoration: underline;
}

.metrics svg {
  height: 200px;
}

.metricsContent {
    display: flex;
    height: 100%;
    align-items: flex-end;
}

.metricsContainer {
  max-width: 100%;
  overflow-x: scroll;
}

.metricContainer {
    position: relative;
}

.metricsContainer:hover .metricHeading {
  display: none;
}

.metricHeading {
    position: absolute;
    background: $white;
    padding: 0.5rem;
    opacity: 0.8;
}

.summaryList {
    display: flex;
}

.summary {
    display: flex;
    height: 4rem;
    border: 1px solid $gray5;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.summary:not(:first-child) {
    margin-left: -1px;
}

.historyListItem,
.historyListHeader {
    display: flex;
}
.historyListItem *,
.historyListHeader *
{
    flex: 1;
    border-bottom: 1px solid $gray6;
    padding: 0.25rem 0;
}
.historyListItem {
    color: inherit;
    text-decoration: none;
}

.chart :global(.column) {
  fill: $gray6;
}

.chart :global(.bar) {
  fill: $blue;
}

.chart :global(.axis text) {
  font: 9px sans-serif;
}

.chart :global(.axis path),
.chart :global(.axis line) {
  fill: none;
  stroke: RGB(230, 237, 244);
  stroke-width: 1.5px;
  shape-rendering: crispEdges;
}

.chart :global(.axis path) {
  display: none;
}

@keyframes show {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(-10px);
  }
}

:global(#tip.show) {
    opacity: 1;
}

:global(#tip) {
  position: absolute;
  width: 250px;
  text-align: center;
  text-transform: none;
  background: rgb(34, 39, 42);
  color: white;
  padding: 10px;
  border-radius: 2px;
  z-index: 100;
  pointer-events: none;
  font-size: .8em;
  opacity: 0;

  margin-left: -3px;
  margin-top: -5px;
}

:global(#tip:after) {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}

:global(#tip:after) {
  border-color: rgba(0,0,0,0);
  border-top-color: rgb(34, 39, 42);
  border-width: 5px;
  margin-left: -3px;
}
