@import '~style/helpers';

.register {
    flex: 1;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.register form {
    width: 16rem;
    display: flex;
    flex-direction: column;
    border: 1px solid $gray5;
    padding: 0.5rem;
}

.register h2 {
    text-align: center;
    margin-bottom: 0.5rem;
}

.fields {
    display: flex;
    flex-direction: column;
}

.fields input {
    margin-bottom: 0.5rem;
}
