@import '~style/helpers';

.metricList {
    display: flex;
    flex-direction: column;
    align-self: stretch;
}
.metric {
    padding: 0.5rem;
    border: 1px solid $gray5;
    display: flex;
    // flex-grow: 1;
    flex-flow: row wrap;
}
.metric:not(:first-child) {
    margin-top: -1px;
}
.metric strong {
    text-align: right;
    flex-grow: 1;
}
.metricBreakdownWrapper {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
}
.metricBreakdown {
    width: 100%;
    display: flex;
    cursor: pointer;
}
.metricBreakdown .html,
.metricBreakdown .css,
.metricBreakdown .javascript,
.metricBreakdown .json,
.metricBreakdown .image,
.metricBreakdown .font,
.metricBreakdown .other {
    height: 15px;
}

.html {
    background: $red;
}
.css {
    background: $orange;
}
.javascript {
    background: $yellow;
}
.json {
    background: $green;
}
.image {
    background: $blue;
}
.font {
    background: $purple;
}
.other {
    background: $pink;
}

.keyList {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.key {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.key .html,
.key .css,
.key .javascript,
.key .json,
.key .image,
.key .font,
.key .other {
    width: 10px;
    height: 10px;
    margin-right: 5px;
}

.keyLeft {
    flex: 1;
    text-align: center;
}

.keyRight {
    width: 6rem;
    text-align: right;
}
