@import '~style/helpers';

.graph {
    margin: 1rem 0;
    position: relative;
    overflow: scroll;
}

.graphContent {
    // Adjusting width percent adjusts zoom
    width: 100%;
    position: relative;
}

.header {
    font-size: 0.8rem;
    height: 1rem;
    display: flex;
    flex-direction: row;
    color: $gray4;
    @include large {
        border-bottom: 1px solid $gray6;
    }
}
.headerLeft {
    display: none;
    @include large {
        display: initial;
        width: 12rem;
    }
}
.headerRight {
    flex-grow: 1;
    position: relative;
}
.headerSecondMarker {
    position: absolute;
    margin-left: 2px;
}

.background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    align-items: stretch;
    z-index: -1;
}
.backgroundPadding {
    display: none;
    @include large {
        display: initial;
        width: 12rem;
    }
}
.backgroundContent {
    flex-grow: 1;
    position: relative;
}

.markerRed,
.markerBlue,
.markerGray
{
    position: absolute;
    width: 1px;
    height: 100%;
    margin-left: -1px;
}
.markerRed {
    background: $red;
}
.markerBlue {
    background: $blue;
}
.markerGray {
    background: $gray6;
}

.entry {
    font-size: 0.8rem;
    cursor: pointer;
}

.entry pre {
    background: $white;
    cursor: initial;
}

.entryTop {
    display: flex;
}

.entryName {
    height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

    display: none;
    @include large {
        width: 12rem;
        display: initial;
    }
}

.timeBlockWrapper {
    flex-grow: 1;
    display: flex;
    align-items: stretch;
}

.timeBlock {
    display: flex;
    flex-direction: row;
    align-items: center;
    min-height: 15px;
}

.blocked {
    background: $gray6;
    height: 5px;
}
.dns {
    background: $red;
    align-self: stretch;
}
.connect {
    background: $orange;
    align-self: stretch;
}
.ssl {
    background: $yellow;
    align-self: stretch;
}
.send {
    background: $green;
    align-self: stretch;
}
.wait {
    background: $blue;
    align-self: stretch;
}
.receive {
    background: $purple;
    align-self: stretch;
}
