/*! github.com/micmro/PerfCascade Version:2.1.1 (26/06/2017) */
@import '~style/helpers';

$_black: #000;
$_robins-egg-blue: #0cc;
$_green: #0f0;
$_cod-gray: #111;
$_blue-chill: #159588;
$_chathams-blue: #1C4278;
$_dodger-blue: #1eaaf1;
$_mountain-meadow: #1ec659;
$_bay-of-many: #234980;
$_mariner: #36c;
$_woodland: #406B29;
$_pelorous: #42aab1;
$_bossanova: #4D2E69;
$_dove-gray: #666;
$_purple: #69009e;
$_bull-shot: #7A4E1D;
$_gray: #808080;
$_chetwode-blue: #82a8de;
$_cornflower: #89afe6;
$_feijoa: #a6d18f;
$_silver-chalice: #aaa;
$_roof-terracotta: #AE2A1B;
$_tower-gray: #b0bec5;
$_east-side: #b394cf;
$_nobel: #b3b3b3;
$_chestnut: #b55;
$_guardsman-red1: #c00;
$_melrose: #c0c0ff;
$_amethyst: #c141cd;
$_persian-red: #c33;
$_guardsman-red2: #CC0000;
$_silver1: #ccc;
$_silver2: #cdcdcd;
$_lavender: #d888df;
$_tumbleweed: #e0b483;
$_terracotta: #e15d4e;
$_gallery1: #efefef;
$_red: #f00;
$_gallery2: #f0f0f0;
$_bittersweet: #f66;
$_hint-of-red: #f6f3f3;
$_sunshade: #fd9727;
$_yellow: #ff0;
$_laser-lemon: #ff6;
$_white: #fff;

$_black: $gray0;
$_robins-egg-blue: $cyan;
$_green: $green;
$_cod-gray: $gray0;
$_blue-chill: $blue;
$_chathams-blue: $blue;
$_dodger-blue: $blue;
$_mountain-meadow: $green;
$_bay-of-many: $blue;
$_mariner: $blue;
$_woodland: $green;
$_pelorous: $cyan;
$_bossanova: $purple;
$_dove-gray: $gray2;
$_purple: $purple;
$_bull-shot: $gray1;
$_gray: $gray3;
$_chetwode-blue: $blue;
$_cornflower: $blue;
$_feijoa: $green;
$_silver-chalice: $gray4;
$_roof-terracotta: $red;
$_tower-gray: $gray5;
$_east-side: $purple;
$_nobel: $gray5;
$_chestnut: $red;
$_guardsman-red: $red;
$_melrose: $gray5;
$_amethyst: $purple;
$_persian-red: $red;
$_guardsman-red: $red;
$_silver1: $gray5;
$_silver2: $gray5;
$_lavender: $purple;
$_tumbleweed: $yellow;
$_terracotta: $red;
$_gallery1: $gray6;
$_red: $red;
$_gallery2: $gray6;
$_bittersweet: $red;
$_hint-of-red: $white;
$_sunshade: $orange;
$_yellow: $yellow;
$_laser-lemon: $yellow;
$_white: $white;

:global {
	.water-fall-chart {width:100%; overflow: visible; font-size: 12px; line-height: 1em;}
	.water-fall-chart * {box-sizing: border-box;}
	.water-fall-chart button {cursor: pointer;}

	.water-fall-holder {fill:$_amethyst;}

	.water-fall-chart .left-fixed-holder {overflow: visible;}
	.water-fall-chart .marker-holder {width:100%;}
	.water-fall-chart .line-label-holder {cursor: pointer;}
	.water-fall-chart .line-holder {stroke-width:1; stroke: $_amethyst; stroke-opacity:0.5; transition: all 60ms;}
	.water-fall-chart .line-holder .line-mark {fill: $_purple; opacity: 0.01; stroke-width: 0; transition: all 60ms;}
	.water-fall-chart .line-holder.active {stroke: $_purple; stroke-width:2; stroke-opacity:1;}
	.water-fall-chart .line-holder.active .line-mark { opacity: 0.4;}
	.water-fall-chart .type-onload .line-holder  {stroke: $_melrose;}
	.water-fall-chart .type-oncontentload .line-holder  {stroke: $_lavender;}

	.water-fall-chart .labels {width:100%;}
	.water-fall-chart .labels .inner-label {pointer-events: none;}
	.water-fall-chart .time-block.active {opacity: 0.8;}
	.water-fall-chart .line-end,
	.water-fall-chart .line-start {display: none; stroke-width:1; stroke-opacity:0.5; stroke: $_black;}
	.water-fall-chart .line-end.active,
	.water-fall-chart .line-start.active {display: block;}

	.left-fixed-holder .label-full-bg {fill: $_white; opacity: 0.9;}

	.time-scale line {stroke:$_robins-egg-blue; stroke-width:1;}
	.time-scale line.sub-second-line {stroke: $_amethyst; opacity: 0.75; stroke-width:0.50;}
	.time-scale text {font-weight:bold;}

	.row-item {cursor: pointer;}
	.row-item .even {fill: $_amethyst; opacity: 0.05;}
	.row-item .odd {fill: $_black; opacity: 0.05;}
	.row-item:hover .odd,
	.row-item:hover .even {fill: $_black; opacity: 0.1;}

	.row-item:focus {outline: solid 1.5px $_silver-chalice; outline-offset: -1.5px}
	.row-item:focus .odd,
	.row-item:focus .even {fill: $_black; opacity: 0.2; }

	.row-item .rect-holder text {fill: $_silver-chalice}
	.row-item.status5xx .even {fill: $_bittersweet;}
	.row-item.status5xx .odd {fill: $_red;}
	.row-item.status4xx .even{fill: $_persian-red;}
	.row-item.status4xx .odd {fill: $_guardsman-red1;}
	.row-item.status3xx .even {fill: $_laser-lemon;}
	.row-item.status3xx .odd {fill: $_yellow;}

	.row-item.status5xx .even,
	.row-item.status5xx .odd,
	.row-item.status4xx .even,
	.row-item.status4xx .odd,
	.row-item.status3xx .even,
	.row-item.status3xx .odd {opacity: 0.3;}
	.row-item.status5xx:hover .even,
	.row-item.status5xx:hover .odd,
	.row-item.status4xx:hover .even,
	.row-item.status4xx:hover .odd,
	.row-item.status3xx:hover .even,
	.row-item.status3xx:hover .odd {opacity: 0.5;}

	.tooltip-holder {overflow: visible;}
	.tooltip * {padding: 0; margin:0;}
	.tooltip html {font-size: 10px; line-height: 1.2em;}
	.tooltip body {position: relative;}
	.tooltip-payload {position: absolute; top:0; left:0; padding: 0.25em; font-size: 10px; display: inline-block;  background: rgba(255,255,255, 0.9); border: solid 1px $_gallery2; word-break: break-all; overflow-wrap: break-word; transition: opacity 300ms;}
	.tooltip-payload.no-anim {transition: none;}

	/** overlay animation settings **/
	.water-fall-chart .line-label-holder,
	.row-item,
	.water-fall-chart .line-holder line,
	.time-scale line,
	.time-scale text {transition:transform 60ms;}
	.water-fall-chart.closing {transition-delay: 60ms;}

	.labels { overflow: hidden;}

	/*block colours for MIME types*/
	.block-css {fill: $_feijoa;}
	.block-iframe,
	.block-html,
	.block-svg,
	.block-internal {fill: $_chetwode_blue;}
	.block-img,
	.block-image {fill: $_east-side;}
	.block-script,
	.block-javascript,
	.block-js {fill: $_tumbleweed;}
	.block-link {fill: $_cornflower;}
	.block-swf,
	.block-flash {fill: $_pelorous;}
	.block-font {fill: $_terracotta;}
	.block-xmlhttprequest,
	.block-ajax {fill: $_red;} /*remove?*/
	.block-plain,
	.block-other {fill: $_nobel;}

	/*block colours for Timing*/
	.block-blocked {fill: $_silver-chalice;}
	.block-dns {fill: $_blue-chill;}
	.block-connect {fill: $_sunshade;}
	.block-ssl {fill: $_amethyst;}
	.block-send {fill: $_tower-gray;}
	.block-wait {fill: $_mountain-meadow;}
	.block-receive {fill: $_dodger-blue;}
	.block-undefined {fill: $_green;}

	/* Info overlay SVG - wrapper */
	.info-overlay-bg {fill: $_white; stroke: $_silver2;}
	.info-overlay-close-btn {fill: rgba(205, 205, 205, 0.8); transform: translate(-23px, -23px); cursor: pointer;}
	.info-overlay-close-btn text {fill: $_cod-gray; pointer-events: none;}
	.info-overlay-close-btn:focus {border: solid 1px $_mariner;}

	/* Info overlay SVG - timings tab */
	.info-overlay-holder .connect {border-right: solid 5px $_sunshade; padding-right: 5px;}
	.info-overlay-holder .blocked {border-right: solid 5px $_silver-chalice; padding-right: 5px;}
	.info-overlay-holder .ssltls {border-right: solid 5px  $_amethyst; padding-right: 5px;}
	.info-overlay-holder .send {border-right: solid 5px $_tower-gray; padding-right: 5px;}
	.info-overlay-holder .wait {border-right: solid 5px $_mountain-meadow; padding-right: 5px;}
	.info-overlay-holder .receive {border-right: solid 5px $_dodger-blue; padding-right: 5px;}
	.info-overlay-holder .dns {border-right: solid 5px $_blue-chill; padding-right: 5px;}

	/* Info overlay HTML - types */
	.type-css {background: $_woodland;}/*a6d18f - 40%*/
	.type-iframe,
	.type-html,
	.type-svg,
	.type-internal {background: $_chathams-blue;} /*82a8de - 40%*/
	.type-img,
	.type-image {background: $_bossanova;} /*b394cf - 40%*/
	.type-script,
	.type-javascript,
	.type-js {background: $_bull-shot;} /*e0b483 - 40%*/
	.type-link {background: $_cornflower;} /*89afe6 - 40%*/
	.type-swf,
	.type-flash {background: $_bay-of-many;} /*$_pelorous - 40%*/
	.type-font {background: $_roof-terracotta;} /*$_terracotta - 40%*/
	.type-xmlhttprequest,
	.type-ajax {background: $_black;} /* f00 40%*/
	.type-plain,
	.type-other {background: $_gray;} /*$_nobel - 40%*/

	/* Info overlay HTML - base */
	.info-overlay-holder * { padding: 0; margin:0; font-size: 12px;}
	.info-overlay-holder body { position: relative;  height: 450px; clear: both; padding: 0; margin:0; width:100%; background: $_white; color: $_dove-gray;}
	.info-overlay-holder body .wrapper { height: 450px; width: 100%; overflow: scroll;}

	/* Info overlay HTML - header */
	.info-overlay-holder header {position: relative; box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.25);}
	.info-overlay-holder header,
	.info-overlay-holder header a,
	.info-overlay-holder header button {color: $_white; text-decoration: none;}
	.info-overlay-holder header a:hover,
	.info-overlay-holder header a:focus {text-decoration: underline;}
	.info-overlay-holder .requestID {font-weight: bold;}
	.info-overlay-holder h3,
	.info-overlay-holder h3 a {font-size: 1.1em; padding: 1em; margin:0; font-weight: normal; overflow-wrap: break-word;}
	.info-overlay-holder h3 strong {font-size: 1.1em;}
	.info-overlay-holder .tab-nav ul {margin: 0; padding: 0;}
	.info-overlay-holder .tab-nav li {margin: 0; padding: 0; display: inline-block;}
	.info-overlay-holder button { background: transparent; outline:0; border:0; border-bottom: solid 2px transparent; padding: 0.5em 1em; margin:0 0.25em;}
	.info-overlay-holder li:first-child  button {margin-left: 1em;}
	.info-overlay-holder button:focus,
	.info-overlay-holder button.active:focus,
	.info-overlay-holder button:hover {border-color: rgba(255,255,255, 0.6);}
	.info-overlay-holder button.active {border-color: $_white; cursor: default;}
	.info-overlay-holder button.active:focus {border-color: rgba(255,255,255, 0.8);}

	/* Info overlay HTML - content */
	.info-overlay-holder dt {float: left; clear: both; margin-top: 0.5em; width: 25%; text-align: right; font-weight: bold; }
	.info-overlay-holder dd {float: left; width:73%; margin: 0.5em 0 0 2%; padding: 0 0 0.5em 0;}
	.info-overlay-holder dt:after { content: ":"; }
	.info-overlay-holder pre {font-size: 11px; line-height: 23px;  border-radius: 0; background: $_hint-of-red;}

	.info-overlay-holder .tab {float: left; width:100%; height: 350px; padding:12px 12px 24px;}
	.info-overlay-holder .tab h2 {font-size: 1.2em; margin:0.5em 0 0; padding: 0.5em 0 0.5em 1em; clear: both; border-top: solid 1px $_gallery1;}
	.info-overlay-holder .tab h2:first-child {border-top: 0; padding-top: 0;}
	.info-overlay-holder .tab pre {overflow-y: hidden; width:100%; min-height: 100%;}
	.info-overlay-holder .tab .preview {width: auto; max-width: 100%; max-height: 500px; border: solid 1px $_dove-gray;}
	.info-overlay-holder .tab dl:after {content: ""; display: table; clear: both;}
	.info-overlay-holder .tab.raw-data {padding: 0;}
	.info-overlay-holder .tab.raw-data pre {padding:12px 12px 24px;}

	/** Legend */
	.resource-legend { margin: 0; padding: 0; font-size: 0.75em; line-height: 1.5em; display: inline-block;}
	.resource-legend li {margin: 0 1em 0 0; padding: 0; white-space: nowrap; display: inline-block;}
	.resource-legend li:before {content:''; width: 1em; height: 1em; margin: 0 0.5em 0 0; vertical-align: text-top; display: inline-block; }

	.resource-legend .legend-blocked:before { background: $_silver-chalice;}
	.resource-legend .legend-dns:before { background: $_blue-chill;}
	.resource-legend .legend-connect:before { background: $_sunshade; }
	.resource-legend .legend-ssl:before { background:  $_amethyst; }
	.resource-legend .legend-send:before { background: $_tower-gray; }
	.resource-legend .legend-wait:before { background: $_mountain-meadow; }
	.resource-legend .legend-receive:before { background: $_dodger-blue; }

	.icon {
	fill: $_dove-gray;
	}

	.icon-4xx,
	.icon-5xx,
	.icon-no-cache,
	.icon-no-gzip,
	.icon-warning {
	fill: $_chestnut;
	}
}
