@import '~style/helpers';
@import './perf-cascade';

.metricVideoWrapper {
    display: flex;
    flex-direction: column;
    @include large {
        flex-direction: row;
        align-items: flex-start;
    }
}

.metricVideoWrapper > * {
    @include large {
        width: 50%;
        margin-right: 0.5rem;
    }
}

.profile h2 {
    margin-bottom: 1rem;
    text-align: center;
    text-transform: uppercase;
}
